Source: novena-eeprom-gui
Section: misc
Priority: optional
Maintainer: Sean Cross <xobs@kosagi.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://kosagi.com/
#Vcs-Git: git://anonscm.debian.org/collab-maint/novena-eeprom-gui.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/novena-eeprom-gui.git;a=summary

Package: novena-eeprom-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Graphical editor for the system EEPROM
 This program allows you to graphically edit the onboard system EEPROM.
