Source: novena-eeprom-gui
Section: misc
Priority: optional
Maintainer: Sean Cross <xobs@kosagi.com>
Build-Depends: debhelper (>= 9), qtbase5-dev
Standards-Version: 3.9.6
Homepage: http://kosagi.com/
Vcs-Git: git://github.com/xobs/novena-eeprom-gui
Vcs-Browser: https://github.com/xobs/novena-eeprom-gui

Package: novena-eeprom-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Graphical editor for the system EEPROM
 This program allows you to graphically edit the onboard system EEPROM.
